body {
    text-align: center;
    font-size: small;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
h1{
    color:gray;
}
.container-i{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.form-i{
    box-sizing: border-box;
    width: 100px;
    padding: 12px 20px;
    position: relative;
    z-index: 1;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;

}